<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false" />
	</configSections>
	<!--<linq2db defaultConfiguration="DB2.iSeries" /> -->
	<linq2db defaultConfiguration="DB2.iSeries" defaultDataProvider="DB2.iSeries">
		<dataProviders>
			<add name="DB2.iSeries" type="LinqToDB.DataProvider.DB2iSeries.DB2iSeriesFactory, LinqToDB.DataProvider.DB2iSeries" default="true" />
		</dataProviders>
	</linq2db>

	<connectionStrings configSource="UserConnectionStrings.xml" />
	<!-- 
	Create a UserConnectionStrings.xml file and add the following to it supplying the required parameters for your iSeries
	UserConnectionStrings.xml is in .gitignore and it is not committed to the repository. 
	-->
	
	<!--
	<connectionStrings>
		<add name="DB2.iSeries" 
		     connectionString="Data Source= ***SERVERNAME***; Persist Security Info=True;User ID= ***USERID***;Password=***PASSWORD***;Library List=LINQ2DB;Default Collection=LINQ2DB;Naming=1" 
				 providerName="DB2.iSeries" />
	</connectionStrings>
	-->
</configuration>
